body{
  padding: 0;
}

.header{
  width: 100%;
  margin: 0;
  z-index: 10;
  position: fixed;
  font-size: 20px;
  top: 0;
  left: 0;
}

.page-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  font-family: Luckiest Guy;
  font-weight: 50;
}

.content{
  margin-top: 190px;
  margin: 150px;
}

.briefing{
  margin-top: 300px;
}

h1{
  font-family: Neucha;
  font-size: 50px;
}

.header h1{
  font-size: 50px;
  font-weight:
  font-family: Luckiest Guy;
}

h2{
  font-family: Luckiest Guy;
}
p{
  font-family: Lato;
}

ul{
  text-align: left;
}

li{
  display: inline-block;
  padding-left: 20px;
  font-family: Lato;
}
.nav-bar-links{
  background-color: #32659F;
  height: 50px;
  text-align: center;
  padding: 0;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  text-decoration: none;
  opacity: 0.5;
}

.nav-bar li{
  display: inline-block;
  padding-left: 10px;
  font-family: Neucha;
}

table{
  border-color: 2 px red solid;
}

.nav-bar-img{
  width: 100vw;
  /* height: 50%; */
  height: 250px;
  /* object-fit: fill; */
  left: 0;
}

 a:link.nav-bar-blocks, a:visited.nav-bar-blocks{
  text-decoration: none;
  color: black;
  background-color: #32659F;
  text-align: center;
  display: inline-block;
  padding: 0px;
  font-size: 24px;
  font-family: Neucha;
}

a{
  text-decoration: none;
  color: darkgray;
  text-align: center;
  display: inline-block;
  padding: 0;
  font-size: 16px;
  font-family: Lato;
}
a:hover.nav-bar-blocks, a:active.nav-bar-blocks{
  text-decoration: none;
  color: white;
}
