<!--All Pages-->

body{
  padding: 0;
}

.header{
  width: 100%;
  margin: 0;
  z-index: 10;
  position: fixed;
  font-size: 20px;
  top: 0;
  left: 0;
}

.page-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  font-family: Luckiest Guy;
  font-weight: 50;
}

.content{
  margin-top: 400px;
  margin: 200px;
}

h1{
  font-family: Neucha;
  font-size: 50px;
}

h2{
  font-family: Luckiest Guy;
}
p{
  font-family: Lato;
}

ul{
  text-align: left;
}

li{
  display: inline-block;
  padding-left: 20px;
  font-family: Lato;
}

.nav-bar-links{
  background-color: #32659F;
  height: 50px;
  text-align: center;
  padding: 0;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  text-decoration: none;
  opacity: 0.5;
}

.nav-bar li{
  display: inline-block;
  padding-left: 10px;
  font-family: Neucha;
}

.nav-bar-img{
  width: 100vw;
  /* height: 50%; */
  height: 250px;
  /* object-fit: fill; */
  left: 0;
}

img.body{
  float: right;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  height: 200px;
  width: 300px;
}

a:hover.nav-bar-blocks, a:active.nav-bar-blocks{
  text-decoration: none;
  color: white;
}

 a:link.nav-bar-blocks, a:visited.nav-bar-blocks{
  text-decoration: none;
  color: black;
  background-color: #32659F;
  text-align: center;
  display: inline-block;
  padding: 0px;
  font-size: 24px;
  font-family: Neucha;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: black;
  text-align: center;
  display: inline-block;
  padding: 0;
  font-size: 16px;
  font-family: Lato;
}

<!--Home Page Only-->

.header h1{
  font-size: 50px;
  font-weight:
  font-family: Luckiest Guy;
}

table, tr, th, td{
  font-weight: bold;
  border: 2px midnightblue solid;
  border-collapse: collapse;
}

td, th{
  padding: 10px;
  text-align: center;
}

thead{
  background-color: #58abe2;
  width: auto;
}

th{
  font-family: Lato;
  font-size: 18px;
  color: black;
}

td{
  font-family: Lato;
  font-size: 12px;
}

<!--Good To Know Only-->

h3{
  font-family: Neucha;
}
